## Captura e Visualização de dados

<b>Professor:</b> Diénert Vieira
<b>Telefone:</b> (83) 9 8182-1479
<b>Email:</b> dienertalencar@gmail.com

### Segunda avaliação de aprendizagem

Depois de extrairmos os dados bancários, passamos para a sua análise. Podemos detectar padrões de comportcamentos e gerar visualizações que nos auxiliem na tomada de decisões.

### Tarefa 04
#### Processar dados para exibir num frontend

Primeiro importamos a biblioteca de manipulação de dados: Pandas. E usamos um alias (apelido): pd, por brevidade:

In [1]:
import pandas as pd

Depois podemos listar os arquivos do diretório:

In [2]:
df = pd.read_json("../dados/tudo.json")
dateformat = '%Y/%m/%d'

df['date'] = pd.to_datetime(df['date'], format=dateformat)
df['referencia'] = pd.to_datetime(df['referencia'], format=dateformat)
df.index = df.date
#df = df.drop(columns='date')
#df = df.sort_index()
df

                 date                    descricao   valor referencia
date
2019-12-01 2019-12-01      Listo *Garagem F4 2/4\n -440.00 2020-01-01
2019-12-01 2019-12-01       Esposende Filial 5/5\n  -27.99 2020-01-01
2019-12-01 2019-12-01  123 Viagens e Turismo 5/6\n -584.07 2020-01-01
2019-12-01 2019-12-01           Maxmilhas*M1 2/3\n -131.52 2020-01-01
2019-12-01 2019-12-01   Carajas Construcoes 6/10\n  -67.66 2020-01-01
...               ...                          ...     ...        ...
2020-09-26 2020-09-26     Panificadora Laura Fra\n  -15.50 2020-10-01
2020-09-28 2020-09-28                  Jp Tambau\n  -18.57 2020-10-01
2020-09-28 2020-09-28      Supermercado Bem Mais\n -278.61 2020-10-01
2020-09-28 2020-09-28     Frigorifico Ponto da C\n  -15.47 2020-10-01
2020-09-30 2020-09-30  Hotel Urbano*6530366 1/10\n  -69.57 2020-10-01

[548 rows x 4 columns]

In [3]:
def filtra_e_soma(df, descricao):
    filtrado = df[df.descricao.str.lower().str.count(descricao) > 0]
    print('Soma: ', filtrado.valor.sum())
    return filtrado.copy()

In [4]:
def salva_serie(filtrado, inverte=True):
    filtrado_por_data = filtrado.groupby([filtrado.index.date]).valor.sum() * (-1 if inverte else 1) 
    filtrado_por_data = filtrado_por_data.to_frame()
    filtrado_por_data['day'] = filtrado_por_data.index
    filtrado_por_data.columns = ['count', 'day']
    filtrado_por_data = filtrado_por_data.reset_index()
    filtrado_por_data = filtrado_por_data[['day', 'count']]
    filtrado_por_data.to_csv('../frontends/calendario_horizontal/dates.csv', index=False)
    return filtrado_por_data

In [5]:
def filtra_e_salva(df, descricao):
    filtrado = filtra_e_soma(df, descricao)
    return salva_serie(filtrado)

In [6]:
filtra_e_salva(df, 'ifood')

Soma:  -451.3400000000001

           day  count
0   2020-02-21  48.00
1   2020-03-09  33.00
2   2020-03-16  48.00
3   2020-04-09  49.00
4   2020-04-20  44.00
5   2020-05-11  55.50
6   2020-05-28  24.99
7   2020-06-18  36.99
8   2020-07-06  36.99
9   2020-07-13  31.98
10  2020-09-14  50.79
11  2020-09-19  -7.90

In [7]:
filtra_e_salva(df, '^posto ')

Soma:  -1562.32

           day   count
0   2019-12-06   50.08
1   2019-12-13  100.00
2   2019-12-16   20.00
3   2019-12-20  100.00
4   2020-01-03  110.63
5   2020-01-11   98.00
6   2020-01-14  142.53
7   2020-02-07  153.87
8   2020-02-15  230.12
9   2020-03-07  100.00
10  2020-03-12  100.00
11  2020-03-20   75.48
12  2020-03-24  118.29
13  2020-06-02  100.00
14  2020-07-22   23.32
15  2020-08-24   20.00
16  2020-09-07   20.00

In [8]:
filtra_e_salva(df, 'supermercado')

Soma:  -4735.16

           day   count
0   2019-12-06   41.03
1   2020-01-01   42.68
2   2020-01-06  159.02
3   2020-01-07    7.17
4   2020-01-09  117.35
5   2020-01-16    8.99
6   2020-02-04    8.38
7   2020-03-02   89.97
8   2020-03-16  184.65
9   2020-03-21   70.80
10  2020-03-26  181.88
11  2020-04-13   23.26
12  2020-04-17  173.21
13  2020-04-27  211.86
14  2020-04-28    7.99
15  2020-05-02  203.62
16  2020-05-15  331.14
17  2020-05-25  123.10
18  2020-06-01  257.22
19  2020-06-08   79.88
20  2020-06-15  212.97
21  2020-06-29  270.29
22  2020-07-08    9.87
23  2020-07-13  288.45
24  2020-07-20  116.74
25  2020-07-27   91.49
26  2020-08-01   85.41
27  2020-08-05  235.50
28  2020-08-06    2.68
29  2020-08-10  174.90
30  2020-08-18  170.96
31  2020-08-24  100.53
32  2020-08-31  168.43
33  2020-09-07   74.26
34  2020-09-21  130.87
35  2020-09-28  278.61

Agora vá para o diretório de frontends, pela linha de comando, entre no diretório "calendario_horizontal" e execute o comando: python -m http.server 80

Acesse no browser http://localhost/ e veja os dias em que você realizou abastecimentos ao longo do ano.

Repita o processo para o termo que desejar

### Agora preparamos os dados para uma aplicação React

In [9]:
from calendar import monthrange
from datetime import date, datetime

def separa_mes(df, month, year):
    begin = datetime(year, month, 1)
    end = datetime(year, month, monthrange(year, month)[1])
    return df[df.date.ge(begin) & df.date.le(end)].copy()

In [10]:
import json

In [11]:
max_date = df.date.max()
month = max_date.month
year = max_date.year

In [12]:
month = 12

In [13]:
year = 2019

In [14]:
df

                 date                    descricao   valor referencia
date
2019-12-01 2019-12-01      Listo *Garagem F4 2/4\n -440.00 2020-01-01
2019-12-01 2019-12-01       Esposende Filial 5/5\n  -27.99 2020-01-01
2019-12-01 2019-12-01  123 Viagens e Turismo 5/6\n -584.07 2020-01-01
2019-12-01 2019-12-01           Maxmilhas*M1 2/3\n -131.52 2020-01-01
2019-12-01 2019-12-01   Carajas Construcoes 6/10\n  -67.66 2020-01-01
...               ...                          ...     ...        ...
2020-09-26 2020-09-26     Panificadora Laura Fra\n  -15.50 2020-10-01
2020-09-28 2020-09-28                  Jp Tambau\n  -18.57 2020-10-01
2020-09-28 2020-09-28      Supermercado Bem Mais\n -278.61 2020-10-01
2020-09-28 2020-09-28     Frigorifico Ponto da C\n  -15.47 2020-10-01
2020-09-30 2020-09-30  Hotel Urbano*6530366 1/10\n  -69.57 2020-10-01

[548 rows x 4 columns]

In [15]:
mes = separa_mes(df, month, year)
mes = mes[['date', 'descricao', 'valor']]
mes.columns = ['Trans Date', 'Description', 'Amount']
mes['Trans Date'] = mes['Trans Date'].astype(str)
text = json.dumps(mes.to_dict(orient='records'), indent=4, ensure_ascii=True)
file = open('../frontends/expensesv2/src/data/expenses.json', 'w')
file.write(text)

9226

In [16]:
print(text)

[
    {
        "Trans Date": "2019-12-01",
        "Description": "Listo *Garagem F4 2/4\n",
        "Amount": -440.0
    },
    {
        "Trans Date": "2019-12-01",
        "Description": "Esposende Filial 5/5\n",
        "Amount": -27.99
    },
    {
        "Trans Date": "2019-12-01",
        "Description": "123 Viagens e Turismo 5/6\n",
        "Amount": -584.07
    },
    {
        "Trans Date": "2019-12-01",
        "Description": "Maxmilhas*M1 2/3\n",
        "Amount": -131.52
    },
    {
        "Trans Date": "2019-12-01",
        "Description": "Carajas Construcoes 6/10\n",
        "Amount": -67.66
    },
    {
        "Trans Date": "2019-12-01",
        "Description": "Educa Mais Brasil 7/12\n",
        "Amount": -40.97
    },
    {
        "Trans Date": "2019-12-01",
        "Description": "guarda roupa 6/10\n",
        "Amount": -69.9
    },
    {
        "Trans Date": "2019-12-02",
        "Description": "99* Pop 29nov 23h44min\n",
        "Amount": -6.1
    },
    {
        "Trans Date": "2019-12-04",
        "Description": "99* Pop 03dez 15h08min\n",
        "Amount": -6.1
    },
    {
        "Trans Date": "2019-12-04",
        "Description": "99* Pop 03dez 17h01min\n",
        "Amount": -6.1
    },
    {
        "Trans Date": "2019-12-06",
        "Description": "supermercado bem mais\n",
        "Amount": -41.03
    },
    {
        "Trans Date": "2019-12-06",
        "Description": "Posto de Combustiveis\n",
        "Amount": -50.08
    },
    {
        "Trans Date": "2019-12-06",
        "Description": "Smiles Fidelidade Sa*C\n",
        "Amount": -42.0
    },
    {
        "Trans Date": "2019-12-07",
        "Description": "Pagamento recebido\n",
        "Amount": 3354.9
    },
    {
        "Trans Date": "2019-12-07",
        "Description": "almo\u00c3\u00a7o\n",
        "Amount": -15.0
    },
    {
        "Trans Date": "2019-12-09",
        "Description": "99* Pop 08dez 13h27min\n",
        "Amount": -18.6
    },
    {
        "Trans Date": "2019-12-09",
        "Description": "99* Pop 07dez 16h15min\n",
        "Amount": -29.23
    },
    {
        "Trans Date": "2019-12-09",
        "Description": "99* Pop 07dez 23h17min\n",
        "Amount": -52.99
    },
    {
        "Trans Date": "2019-12-09",
        "Description": "99* Pop 08dez 16h19min\n",
        "Amount": -18.6
    },
    {
        "Trans Date": "2019-12-09",
        "Description": "Sorveteria Pigelatti\n",
        "Amount": -26.36
    },
    {
        "Trans Date": "2019-12-09",
        "Description": "almo\u00c3\u00a7o\n",
        "Amount": -30.0
    },
    {
        "Trans Date": "2019-12-09",
        "Description": "almo\u00c3\u00a7o\n",
        "Amount": -29.75
    },
    {
        "Trans Date": "2019-12-10",
        "Description": "Gol Transp Aereos*Lgrq 1/3\n",
        "Amount": -33.34
    },
    {
        "Trans Date": "2019-12-11",
        "Description": "lava\u00c3\u00a7\u00c3\u00a3o carro\n",
        "Amount": -30.0
    },
    {
        "Trans Date": "2019-12-11",
        "Description": "almo\u00c3\u00a7o\n",
        "Amount": -18.0
    },
    {
        "Trans Date": "2019-12-11",
        "Description": "Rewards - Assinatura\n",
        "Amount": -19.0
    },
    {
        "Trans Date": "2019-12-11",
        "Description": "99* Pop 10dez 19h28min\n",
        "Amount": -8.7
    },
    {
        "Trans Date": "2019-12-12",
        "Description": "99* Pop 11dez 16h52min\n",
        "Amount": -5.8
    },
    {
        "Trans Date": "2019-12-12",
        "Description": "celular Roberto 1/10\n",
        "Amount": -74.4
    },
    {
        "Trans Date": "2019-12-12",
        "Description": "99* Pop 11dez 01h29min\n",
        "Amount": -22.8
    },
    {
        "Trans Date": "2019-12-12",
        "Description": "99* Pop 11dez 15h47min\n",
        "Amount": -5.8
    },
    {
        "Trans Date": "2019-12-12",
        "Description": "Agua Na Boca Doceria\n",
        "Amount": -16.0
    },
    {
        "Trans Date": "2019-12-13",
        "Description": "Posto Milenio\n",
        "Amount": -100.0
    },
    {
        "Trans Date": "2019-12-13",
        "Description": "Vepark\n",
        "Amount": -6.0
    },
    {
        "Trans Date": "2019-12-14",
        "Description": "99* Pop 13dez 10h20min\n",
        "Amount": -32.3
    },
    {
        "Trans Date": "2019-12-16",
        "Description": "99* Pop 15dez 18h38min\n",
        "Amount": -27.3
    },
    {
        "Trans Date": "2019-12-16",
        "Description": "Sergios 1/3\n",
        "Amount": -122.0
    },
    {
        "Trans Date": "2019-12-16",
        "Description": "Posto Milenio\n",
        "Amount": -20.0
    },
    {
        "Trans Date": "2019-12-16",
        "Description": "Pag*Kerolenoliveiramo\n",
        "Amount": -68.0
    },
    {
        "Trans Date": "2019-12-16",
        "Description": "Vepark\n",
        "Amount": -6.0
    },
    {
        "Trans Date": "2019-12-17",
        "Description": "Acpam Localiza Aluguel 1/10\n",
        "Amount": -67.56
    },
    {
        "Trans Date": "2019-12-17",
        "Description": "99* Pop 16dez 09h01min\n",
        "Amount": -9.8
    },
    {
        "Trans Date": "2019-12-17",
        "Description": "Barbearia V12\n",
        "Amount": -45.0
    },
    {
        "Trans Date": "2019-12-17",
        "Description": "Panif Esquinao\n",
        "Amount": -5.66
    },
    {
        "Trans Date": "2019-12-18",
        "Description": "Pare Park\n",
        "Amount": -8.0
    },
    {
        "Trans Date": "2019-12-18",
        "Description": "99* Pop 17dez 16h55min\n",
        "Amount": -9.28
    },
    {
        "Trans Date": "2019-12-19",
        "Description": "Marcos Antonio Pereira 1/12\n",
        "Amount": -68.37
    },
    {
        "Trans Date": "2019-12-19",
        "Description": "Desconto Antecipa\u00c3\u00a7\u00c3\u00a3o 123 Viagens e Turismo\n",
        "Amount": 1.73
    },
    {
        "Trans Date": "2019-12-19",
        "Description": "123 Viagens e Turismo 6/6\n",
        "Amount": -584.07
    },
    {
        "Trans Date": "2019-12-19",
        "Description": "Auto Park Imimg\n",
        "Amount": -10.5
    },
    {
        "Trans Date": "2019-12-19",
        "Description": "Pagamento recebido\n",
        "Amount": 1166.41
    },
    {
        "Trans Date": "2019-12-20",
        "Description": "Posto Viabrasil\n",
        "Amount": -100.0
    },
    {
        "Trans Date": "2019-12-20",
        "Description": "Sumup *Claudiney Camp 1/2\n",
        "Amount": -250.0
    },
    {
        "Trans Date": "2019-12-21",
        "Description": "Hiper Sign Impressao\n",
        "Amount": -9.0
    },
    {
        "Trans Date": "2019-12-21",
        "Description": "Pag*Antoniofelipedeal\n",
        "Amount": -20.0
    },
    {
        "Trans Date": "2019-12-21",
        "Description": "99* Pop 20dez 11h39min\n",
        "Amount": -6.3
    },
    {
        "Trans Date": "2019-12-21",
        "Description": "Acl Mercado\n",
        "Amount": -6.89
    },
    {
        "Trans Date": "2019-12-23",
        "Description": "Rede Santana Sete Lago\n",
        "Amount": -50.0
    },
    {
        "Trans Date": "2019-12-23",
        "Description": "Boulevard Plaza\n",
        "Amount": -62.7
    },
    {
        "Trans Date": "2019-12-23",
        "Description": "Boulevard Plaza\n",
        "Amount": -467.5
    },
    {
        "Trans Date": "2019-12-24",
        "Description": "99* Pop 22dez 22h28min\n",
        "Amount": -21.6
    },
    {
        "Trans Date": "2019-12-24",
        "Description": "99* Pop 23dez 10h01min\n",
        "Amount": -6.3
    },
    {
        "Trans Date": "2019-12-24",
        "Description": "Leitura Shopp Cidade 1/3\n",
        "Amount": -36.05
    },
    {
        "Trans Date": "2019-12-24",
        "Description": "99* Pop 23dez 09h48min\n",
        "Amount": -22.8
    },
    {
        "Trans Date": "2019-12-25",
        "Description": "99* Pop 24dez 18h57min\n",
        "Amount": -9.8
    },
    {
        "Trans Date": "2019-12-25",
        "Description": "Azul We*Ulhpqxmazala 1/6\n",
        "Amount": -157.84
    },
    {
        "Trans Date": "2019-12-25",
        "Description": "Azul Linhas Lm9h9r 1/6\n",
        "Amount": -139.99
    },
    {
        "Trans Date": "2019-12-26",
        "Description": "Rewards - Cr\u00c3\u00a9dito de compra apagada\n",
        "Amount": 100.0
    },
    {
        "Trans Date": "2019-12-26",
        "Description": "Expresso Sete Lagoano\n",
        "Amount": -44.0
    },
    {
        "Trans Date": "2019-12-26",
        "Description": "99* Pop 25dez 14h33min\n",
        "Amount": -9.27
    },
    {
        "Trans Date": "2019-12-28",
        "Description": "Pag*Divinofogao\n",
        "Amount": -55.77
    },
    {
        "Trans Date": "2019-12-30",
        "Description": "Dona Marguerita\n",
        "Amount": -80.0
    },
    {
        "Trans Date": "2019-12-30",
        "Description": "Pag*Lojaslebiscuitsa\n",
        "Amount": -10.96
    },
    {
        "Trans Date": "2019-12-30",
        "Description": "Ingresso Online Velox\n",
        "Amount": -62.72
    },
    {
        "Trans Date": "2019-12-31",
        "Description": "Recargatim*31994980342\n",
        "Amount": -50.0
    }
]

* Instale o Node.js: https://nodejs.org/en/ (LTS)
* Entre no diretório frontedns/expensesv2 pela linha de comando
* Execute o comando: npm install
* Ao terminar o anterior, execute: npm start
* O comando anterior deve abrir o browser automaticamente em http://localhost:3000/

<img align='center' src='imagens/congrats.png'>